div#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 256px;
    height: 256px;
    border: 2px solid salmon;
    padding: 20px;
}

div#container > div {
    border: 1px solid cadetblue;
    box-sizing: border-box;
}

.grid_square {
    aspect-ratio: 1 / 1;
}